__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
.env
.env.example
.pre-commit-config.yaml
reselling-automations-ecc411e5b2c3.json
*.md
*.todo
.cursorignore
.vscode/ 
.conda/
sheet_trigger.gs
tests/
memory-bank/
.cursor/
instructions/
.cursorrules
README.md
docs/
.coveragerc
.pre-commit-config.yaml
pytest.ini
README.md
